nativeRoutingCIDR: |
{{ exec "./get-cidr" (list "") | indent 2 }}
gke:
  enabled: true
cni:
  binPath: /home/kubernetes/bin

nodeinit:
  enabled: true
  reconfigureKubelet: true
  removeCbrBridge: true
  revertReconfigureKubelet: true

ipam:
  mode: kubernetes
